In [1]:
# 1 ans : -

In [2]:
# for loop : - 
# print first 10 fibonacci :-
a , b = 0 , 1
for i in range(1, 11) :
    print(a)
    c = a + b
    a = b 
    b = c

0
1
1
2
3
5
8
13
21
34

In [3]:
# while loop 
# print table 
num = int(input("enter a number to print table"))
a = 1 
while a <= 10 :
    print(a * num)
    a = a + 1

enter a number to print table 2

2
4
6
8
10
12
14
16
18
20

In [4]:
# 2 ans :-

In [5]:
# for loop :-
sum = 0 
product = 1 
for i in range(1, 11) :
    sum = sum + i 
    product = product * i 
print("sum of first 10 natural number = ", sum )
print("product of first 10 natural number = " , product)

sum of first 10 natural number =  55
product of first 10 natural number =  3628800

In [6]:
# while loop :
sum = 0 
product = 1
a = 1
while a <= 10 :
    sum = sum + a
    product = product * a
    a = a + 1
print(sum)
print(product)

55
3628800

In [7]:
# 3 ans :-

In [9]:
unit = int(input("enter your unit"))
if unit > 300 :
    a = unit - 300
    total = a * 20 + 100 * 10 + 100 * 6 + 100 * 4.5
    print("YOur total electricity bill is :-", total)
elif unit > 200 :
    a = unit - 200
    total = a * 10 + 100 * 6 + 100 * 4.5
    print("YOur total electricity bill is :-", total)
elif unit > 100 :
    a = unit - 100 
    total = a * 6 + 100 * 4.5
    print("YOur total electricity bill is :-", total)
elif unit > 0 :
    total = unit * 4.5
    print("YOur total electricity bill is :-", total)
else :
    print("invilid Input")

enter your unit -1

invilid Input

In [10]:
# 4. ans :-

In [11]:
# for loop 
number = list(range(1, 101))
cubes_div = []
for num in number :
    cube = num **3
    if cube % 4 == 0 or cube % 5 == 0 :
        cubes_div.append(cube)
print(cubes_div)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [13]:
# while loop :
cubes = []
i = 1
while i <= 100 :
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0 :
        cubes.append(cube)
    i = i + 1
print(cubes)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [14]:
# 5.ans :-

In [15]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0 
for char in string :
    if char in vowels :
        count = count + 1
print(count)

12